<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zilker Rock</title>
    <link rel="stylesheet" href="zilker.css">
  </head>
  <body>
    <div class="zilker">
      <img class="ginny" src="img/Ginny.png" alt="ginny dog">
      <div class="speech-bubble">
        <p>Help me find my sheep!</p>
      </div>
      <img class="sheep-toy" src="img/FluffySheep.png" alt="sheep toy">
    </div>
    <div class="items">
      <img class="backpack" src="img/Backpack.png" alt="backpack">
    </div>

  </body>
</html>
